.home {
  background-color: #1abc9c;
  
}

.avatar-image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.line {
  width: 80px;
  height: 4px;
  background-color: white;
  
}






