.portfolio-card {
  cursor: pointer;
}

.layer {
  background-color: #1abc9ce6;
  opacity: 0;
  transition: opacity 0.6s;
}

.portfolio-card:hover .layer {
  opacity: 1;
}

/* modal */
.portfolio-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(13, 110, 253, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeIn 0.3s ease;
  padding: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  animation: scaleIn 0.3s ease;
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-image {
  max-width: 80%;
  max-height: 55vh;
  width: auto;
  height: auto;
  object-fit: contain;
  /* border-radius: 10px; */
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
}


